/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$headings-font-family: "Roboto", sans-serif !default;
$font-family-sans-serif: "Roboto Light", sans-serif !default;
$font-family-monospace: "Roboto Mono", monospace;


/*-- scss:rules --*/

.navbar-brand > img {
    max-height: 35px;
}

br {
  margin-bottom: 5px;
}

li {
  margin-bottom: 1em;
}
